/*
*/

*
{
    font-family:sans-serif;
}

body
{
	color:black;
	background:#E6E6B8;
	font-family:serif;
}

h1, h2, h3, h4, h5, h6
{
	font-family:sans-serif;
}

/* Indent paragraphs by default. */
p
{
	text-indent:5ex
}

span.legal > *
{
    text-indent:0em;
    font-size:0.75em;
    font-family:sans-serif;
}

span.notes > *
{
    text-indent:0em;
    font-size:0.75em;
    font-family:sans-serif;
}

a:link
{
	color:blue;
	background:transparent;
}

a:visited
{
	color:purple;
	background:transparent;
}

/* Do not show a "visited" state for page selectors. */
a.page_link:visited
{
    color:blue;
    background:transparent;
}

a:active
{
	color:white;
	background:transparent;
}

code
{
	color:black;
	background:transparent;
	font-family:monospace;
}

h1 < div.title
{
    text-align:center;
}

.title
{
    text-align:center;
}

.footer_logo
{
    float:left;
}

.footer_text
{
}

